In [1]:
#Import Data
#The usual
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import *

%matplotlib inline

In [2]:
superstore = pd.read_csv('Superstore.csv')

2. Use the Superstore data. For the item ID with the most transactions in the entire data, what's the total sales generated by that item ID?

In [3]:
superstore['Item ID'].value_counts().head(5) #ID: 11166 is the highest

Item ID
11166    27
10849    26
11093    24
11011    24
11062    23
Name: count, dtype: int64

In [4]:
superstore[superstore['Item ID'] == 11166].sum(numeric_only = True)['Sales']

48295.0

3. Use the Superstore data. What's the item ID with the most quantity ordered in year 2016?

In [5]:
superstore['Year'] = pd.to_datetime(superstore['Order Date'], format = '%m/%d/%Y').dt.year

In [6]:
superstore[superstore.Year == 2016].groupby('Item ID').sum(numeric_only = True)['Order Quantity'].sort_values(ascending = False).head(5)

Item ID
10471    309
10849    250
10899    223
11260    211
10481    209
Name: Order Quantity, dtype: int64

4. Use the Superstore data. Create a dataframe that sorts total sales by state. 
<br>
Rename this column as 'Total_State_Sales'. 
<br>
Merge this dataframe with the original dataframe using state as the key, so a new column Total_State_Sales showing total sales for the state in each row is added.
<br>
(i.e. the original dataframe is not changed, but simply has an extra column added on the right).
<br>
What's the value at index [500, 27]? Round to nearest 1 decimal.

In [7]:
Q4dat = superstore.groupby('State').sum(numeric_only = True)['Sales'].to_frame().rename(columns = {'Sales': 'Total_State_Sales'})
Q4dat.head(5)

            Total_State_Sales
State
Alabama                126716
Arizona                 95031
Arkansas                94533
California             975048
Colorado                95359

In [8]:
mergeDat = pd.merge(superstore, Q4dat, on = 'State', how = 'left')
mergeDat.iloc[500, 27]

998144