In [1]:
import pandas as pd

In [2]:
superstore = pd.read_csv("Superstore.csv")

##### **How many unique customer names are there in the state of Washington**

In [7]:
uniqueWA = superstore[superstore['State'] == 'Washington']['Customer Name']
uniqueWA.nunique() #41

41

##### **Create a new variable 'Profit_Margin' that is profit divided by sales. Create a dataframe that sorts average profit margin by item ID in ascending order. What's the item ID of the product with the lowest average profit margin?**

In [8]:
superstore['Profit_Margin'] = superstore['Profit'] / superstore['Sales']

In [14]:
superstore.groupby('Item ID').mean(numeric_only = True)['Profit_Margin'].sort_values().head(1)

Item ID
11055   -131.743966
Name: Profit_Margin, dtype: float64

##### **Create a dataframe that counts the number of records for the paper category by customer ID. Create another dataframe that counts the number of records for the tables category by customer id. Merge the 2 dataframes by customer id so only customer ids with purchases in both categories are kept. How many customers made purchases in both cateogries?**

In [24]:
paperCount = superstore[superstore['Category'] == 'Paper']['Customer ID'].value_counts().to_frame().rename(columns = {'count': 'numPaper'})
tableCount = superstore[superstore['Category'] == 'Tables']['Customer ID'].value_counts().to_frame().rename(columns = {'count': 'numTable'})

In [25]:
pd.merge(paperCount, tableCount, how = 'inner', on = 'Customer ID')
#184 customers

             numPaper  numTable
Customer ID
198                 4         1
2498                4         1
2499                4         1
2107                4         1
699                 4         3
...               ...       ...
961                 1         2
1591                1         1
448                 1         1
3004                1         1
3006                1         1

[184 rows x 2 columns]